@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');
@import url('http://fonts.cdnfonts.com/css/kodchasan');
/* font-family: 'Playfair Display', serif; */



html, body {
     min-height: 200px;
}
.info {position: fixed; left: 10px; bottom: 30px;}
.info span {position:relative; background: rgba(0,0,0,0.6); padding: 10px; border-radius: 50%; color:#fff; width:50px; height:50px; display: inline-block; margin:3px; text-align:center; line-height: 50px;  }
.info .offset_top:before {content:'offset'; position:absolute; left: 50%; top: -40px; transform: translatex(-50%); }
.info .scroll_top:before {content:'scroll'; position:absolute; left: 50%; top: -40px; transform: translatex(-50%); }

body { background-color: black; }
#nav {overflow:hidden; position:fixed; height: 63px;left:0; top:0; width: 100%; background-color: black; z-index: 100;}
#nav h1 {
  font-style: Katibeh;
  color: #DD71E6;
  font-size: 40px;
  float:left; 
  padding:12px 5px 5px 20px; 
  font-weight:900;  }
#nav ul {float:right;}
#nav ul li {display: inline;}
#nav ul li a {
  font-style: Katibeh;
  color: white;
  font-size: 20px;
  padding: 20px 10px; 
  text-decoration: none; 
  display:inline-block;}
#nav ul li.active a { color:#DD71E6; border-bottom: 3px solid #DD71E6;}


#contents {text-align: center; font-size: 50px; color:#fff; font-weight:100; font-family: 'Playfair Display', serif;}
#contents > div {height: 100vh; line-height: 100vh;}


#section1 {background-color: #E8E6E8;}
#section2 {background-color: black;}
#section3 {background-color: #E8E6E8;}
#section4 {background-color: #E8E6E8;}
#section5 {background-color: #4D2A50;}
#section6 {background-color: black;}
#section7 {background-color: black;}
#section8 {background-color: black;}
#section9 {background-color: black;}


.dot {
  height: 15px;
  width: 15px;
  background-color: #DD71E6;
  color:#DD71E6 ;
  border-radius: 50%;
  display: inline-block;
}

#Katibeh{
  font-family: 'Kodchasan', sans-serif;
  color: black;
  font-size: 60px;
  
}

#highlight{
  font-family: 'Kodchasan', sans-serif;
  color: #DD71E6;
  font-size:15px;
  
}


#head{
  font-family: 'Kodchasan', sans-serif;
  color: white;
  font-size:64px;



}

#small{
  font-family: 'Kodchasan', sans-serif;
  color: #E8D3EA;
  font-size:40px;


}

#screen {
  background-color: #2B2C2A;
  width: 80%;
  height: 100%;
  border-radius: 25px;

  z-index: -100;


  margin: auto;
}

#col {
    flex: 30%;
    padding: 5px;
  }

#cont {
     display: flex;
  }

















@import url(https://fonts.googleapis.com/css?family=Roboto);


.text {
  position: absolute;
  top: 40%;
  left: 40%;
 
}

.words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.words-wrapper b {
  opacity: 0;
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.words-wrapper .is-visible {
  position: relative;
  opacity: 1;
  -webkit-animation: push-in 0.6s;
  -moz-animation: push-in 0.6s;
  animation: push-in 0.6s;
}
.words-wrapper .is-hidden {
  -webkit-animation: push-out 0.6s;
  -moz-animation: push-out 0.6s;
  animation: push-out 0.6s;
}
@-webkit-keyframes push-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes push-in {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@keyframes push-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -o-transform: translateX(10%);
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes push-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateX(110%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
}
@-moz-keyframes push-out {
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
  60% {
    opacity: 0;
    -moz-transform: translateX(110%);
  }
  100% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
}
@keyframes push-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateX(110%);
    -moz-transform: translateX(110%);
    -ms-transform: translateX(110%);
    -o-transform: translateX(110%);
    transform: translateX(110%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}




