

body {
  background-color: black;
}
a {
  display: block;
  display: inline-block;
  width: 80px;
  text-decoration: none;
  font-style: Katibeh;
  color: black;
  font-size: 20px;
  margin-left: 0px;

}
nav,
.scroll-container {

  display: block;
  margin: 40px auto;
  text-align: left;
  margin-left: 40px;
}
nav {
  float: left;
  width: 600px;
  padding: 5px;
}
.scroll-container {
  background-color: #E8E6E8;
  width: 95%;
  height: 85%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.scroll-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 5em;
}
back
